---
layout: default
---

<div class="home">

  <h1 class="page-heading">Blog Posts</h1>
  <h2>I like to keep a personal log of my progress on projects. These are not necessarily confined to one subject like software development, but range from Robots to Lasers</h2> 

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
